

<footer class="footer">

	<div class="footer-container">

		<div class="footer-copy">© 2026 Clínica Veterinaria Huellitas -
			Sandra Marín</div>



		<div class="footer-section">

			<h3>Horario</h3>

			<p>Lunes - Viernes</p>

			<p>09:00 - 20:00</p>

		</div>

		<div class="footer-section">

			<h3>Redes</h3>

			<div class="footer-social">

				<a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Des_ES" title="Facebook"> <span class="material-icons">public</span>
				</a> <a href="https://www.instagram.com/" title="Instagram"> <span class="material-icons">photo_camera</span>
				</a> <a href="https://www.youtube.com/?app=desktop&hl=es" title="YouTube"> <span class="material-icons">smart_display</span>
				</a>

			</div>

		</div>

	</div>



</footer>