@charset "UTF-8";

/* BOTONES GENERALES */
.btn {
	background-color: var(--verde-medio);
	color: var(--blanco);
	padding: 12px 30px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 16px;
	transition: background-color 0.3s, transform 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.btn .material-icons {
	font-size: 20px;
	line-height: 1;
}

.btn:hover {
	background-color: var(--verde-medio);
	transform: scale(1.03);
}

/* BOTÓN LOGIN */
.btn-login {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 25px;
	background-color: var(--verde-medio);
	color: var(--blanco);
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

.btn-login:hover {
	background-color: var(--verde-medio);
	transform: scale(1.03);
}

/*BOTONES SECUNDARIOS*/
.btn-secondary {
	background-color: transparent;
	color: var(--verde-oscuro);
	padding: 8px 12px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	transition: color .2s ease;
}

.btn-secondary:hover {
	color: var(--verde-oscuro);
	opacity: .8;
	transform: none;
}