@charset "UTF-8";

/* ===== NAVBAR ===== */
.navbar {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 80px;
	background-color: var(--verde-oscuro);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}

.navbar .material-icons {
	color: var(--blanco);
}

.brand-name {
	color: var(--blanco);
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
}

/* LOGO + TEXTO */
.logo-container {
	display: flex;
	align-items: center;
	gap: 22px;
}

/*MENU DESKTOP*/
.desktop-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	gap: 80px;
}

.desktop-menu a {
	color: var(--blanco);
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	transition: color .2s ease;
}

.desktop-menu a:hover {
	color: var(--arena);
}

.logo {
	width: 100px;
	object-fit: contain;
}

/*NOMBRE DEL USUARIO Y ROL*/
.user-info {
	display: flex;
	align-items: center;
	gap: 8px;
	max-width: 120px;
	color: var(--blanco);
	font-size: 0.9rem;
	font-weight: 500;
	white-space: nowrap;
	margin-left: auto;
	margin-right: 80px;
}

.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*NOMBRE DE LA CLÍNICA*/
.brand-name {
	color: var(--blanco);
	font-size: 20px;
	font-weight: bold;
}

/* HAMBURGER */
.hamburger {
	font-size: 28px;
	padding: 6px;
	color: var(--blanco);
	cursor: pointer;
	display: none;
}

/* MENÚ MÓVIL LATERAL */
.mobile-menu {
	position: fixed;
	top: 0;
	left: -260px;
	width: 140px;
	height: 100vh;
	background-color: var(--verde-oscuro);
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	box-shadow: var(--sombra-card);
	transition: left .3s ease;
	z-index: 9998;
}

.mobile-menu .material-icons {
	color: var(--blanco);
}

.mobile-menu a {
	padding: 18px 22px;
	font-size: 15px;
	color: var(--blanco);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, .08);
	transition: background-color .2s ease;
}

.mobile-menu.active {
	left: 0;
}

.mobile-menu a:hover {
	background-color: var(--verde-medio);
}

.mobile-menu::before {
	content: "Menú";
	position: absolute;
	top: 25px;
	left: 22px;
	font-size: 18px;
	font-weight: bold;
	color: var(--blanco);
}

/* MÓVIL RESPONSIVE */
@media ( max-width :950px) {
	.navbar {
		height: 70px;
		padding: 0 16px;
	}
	.logo {
		width: 110px;
	}
	.brand-name {
		font-size: 16px;
		white-space: nowrap;
	}
	.user-info {
		font-size: .7rem;
		max-width: 90px;
		margin-right: 10px;
		text-align: right;
		display: none;
	}

	/*VISIBILIDAD MENU*/
	.desktop-menu {
		display: none;
	}
	.hamburger {
		display: block;
	}
}