@charset "UTF-8";

/* CONTENEDOR MAIN */
.login-layout {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

/* COLUMNA IMAGEN */
.login-image {
	flex: 1.2;
	display: flex;
}

.login-image img {
	width: 100%;
	height: 100%;
	max-height: 600px;
	object-fit: cover;
	border-radius: 18px;
	display: block;
}

/* COLUMNA LOGIN */
.login-container {
	flex: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: var(--gris-fondo);
}

/* TARJETA */
.login-card {
	max-width: 460px;
	width: 100%;
	padding: 25px 35px;
	border-radius: 18px;
	text-align: center;
	color: var(--texto);
	box-shadow: var(--sombra-card);
	border: 1px solid rgba(78, 139, 112, .35);
	background: linear-gradient(to bottom, #ffffff, #fbfcfb);
}

/* LOGO */
.login-logo {
	width: 150px;
	margin-bottom: 10px;
	cursor: pointer;
}

/* TITULO */
.login-card h1 {
	font-size: 2rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}

/* INPUTS */
.input-group {
	display: flex;
	align-items: center;
	padding: 12px;
	border-radius: 10px;
	margin-bottom: 18px;
	border: 1px solid var(--verde-medio);
}

.input-group .material-icons {
	color: var(--verde-oscuro);
	margin-right: 10px;
}

.input-group input {
	background: none;
	border: none;
	outline: none;
	color: var(--texto);
	width: 100%;
	font-size: 15px;
}

/*VISIBILIDAD PASSW*/
.password-toggle {
	cursor: pointer;
	user-select: none;
}

/* BOTON */
.btn-login {
	width: 100%;
	padding: 12px;
	font-weight: 600;
	border: none;
	border-radius: 30px;
	background-color: var(--verde-medio);
	color: var(--blanco);
	font-size: 16px;
	cursor: pointer;
}

.btn-login:hover {
	background-color: var(--verde-oscuro);
}

/* LINKS */
.login-links {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.login-links a {
	color: var(--texto);
	text-decoration: none;
	font-size: 14px;
}

.login-links a:hover {
	text-decoration: underline;
}
/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
	.login-image, .register-image {
		display: none;
	}
	.login-layout, .register-layout {
		flex-direction: column;
	}
	.login-container, .register-container {
		width: 100%;
	}
	.login-card, .register-card {
		width: 95%;
		max-width: 460px;
		padding: 30px 22px;
		border-radius: 16px;
	}
	.login-logo {
		width: 140px;
	}
	.login-links {
		flex-direction: column;
		gap: 12px;
	}
	body {
		overflow-x: hidden;
	}
}

/* Tablet y pantallas intermedias */
@media ( min-width :769px) and (max-width:1100px) {
	.login-image, .register-image {
		flex: 0.8;
	}
	.login-container, .register-container {
		flex: 1;
	}
}